.whatsapp-fixed-btn {
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 9999;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
}

.whatsapp-content {
    background-color: #033d32;
    color: white;
    padding: 17px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 13px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.whatsapp-badge {
    position: absolute;
    top: -8px;
    left: -8px;
    background-color: #ff0000;
    color: white;
    font-size: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    border: 2px solid white;
}

.whatsapp-icon {
    width: 15px;
    height: 15px;
}