* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

.hero-section {
    width: 100%;
    padding: 80px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    gap: 40px;
}

.hero-left {
    flex: 1.5;
}

.hero-title {
    font-size: 58px;
    font-weight: 800;
    line-height: 1.1;
    color: #14125C;
    margin-bottom: 25px;
}

.hero-description {
    font-size: 21px;
    font-weight: 400;
    color: black;
    margin-bottom: 35px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn-talk {
    background-color: #4461f2;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
}

.btn-quote {
    background-color: #ffcc00;
    color: black;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
}

.btn-quote:hover {
    background-color: #14125c;
    color: white;
}

.btn-talk:hover {
    background-color: #14125c;
    color: white;
}

.hero-right {
    flex: 1.2;
    display: flex;
    justify-content: flex-end;
}

.hero-image {
    width: 100%;
    max-width: 650px;
    height: auto;
    object-fit: contain;
}

.btn-talk {
    background-color: #4461f2;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}